@font-face {
  font-family: Font-Thin;
  src: url(./font/Montserrat-Thin.ttf);
}


@font-face {
  font-family: Font-Light;
  src: url(./font/Montserrat-Light.ttf);
}

@font-face {
  font-family: Font-Medium;
  src: url(./font/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Font-Regular;
  src: url(./font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Font-Bold;
  src: url(./font/Montserrat-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

$secondary: #aaaaaa;
$primary: #051E2E;
$secondaryText: #FEBD69;

header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
  font-family: Font-Bold;

  a {
    color: $primary;

    &:hover {
      color: $secondaryText;
      transition: 0.5s;
    }
  }

  .logo {
    align-items: center;

    img {
      max-height: 100%;
    }
  }

  .nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      &:hover {
        border-bottom: 1px solid $secondaryText;
        transition: 0.5s;
      }
    }
  }

  .right {
    width: 13%;
    display: flex;
    align-items: center;

    .log {
      a {
        color: $primary;

        &:hover {
          color: $secondaryText;
          border-bottom: 1px solid $secondaryText;
          transition: 0.5s;
        }
      }
    }

    .r {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .cart {
        .length {
          display: block;
          position: absolute;
          top: 2.2%;
          right: 11.3%;
          font-size: 10px;
          color: red;
        }
      }

      .logout {
        cursor: pointer;

        &:hover {
          color: $secondaryText;
          border-bottom: 1px solid $secondaryText;
          transition: 0.5s;
        }
      }
    }
  }
}

main {
  font-family: Font-Regular;
  background-color: $primary;


  .product {
    height: 85vh;
    padding: 2% 5%;
    display: flex;

    .back {
      position: absolute;
      font-size: 30px;
      color: $secondaryText;
      left: 1%;
      top: 10%;

      &:hover {
        cursor: pointer;
        color: white;
        transition: 0.5s;
      }
    }

    .right {
      color: $secondaryText;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 2px;
      font-size: 20px;
      padding: 2%;

      h2 {
        font-size: 40px;
        padding-bottom: 5%;
      }

      .oldPrice {
        text-decoration: line-through;
        color: red;
      }

      .newPrice {
        padding: 2% 0;
      }

      .action {
        padding: 2% 0;
      }

      .desc {
        font-family: Font-Thin;
        font-size: 15px;
        padding: 2% 0;
      }
      .message{
        color: red;
        font-size: 15px;
        padding-left: 2%;
      }

      #size {
        margin: 2% 0;
        border-radius: 10px;
        font-family: Font-Regular;
        font-size: 15px;
        background-color: $secondaryText;
        color: $primary;
        text-align: center;

        &:hover {
          cursor: pointer;
          color: white;
          background-color: $secondaryText;
          transition: 0.5s;
        }
      }

      .add {
        width: 100%;
        display: flex;
        justify-content: center;

        .button {
          width: 25%;
          font-family: Font-Regular;
          font-size: 16px;
          background-color: #FEBD69;
          color: #051E2E;
          display: flex;
          justify-content: center;


          &:hover {
            cursor: pointer;
            color: white;
            background-color: $secondaryText;
            transition: 0.5s;
          }
        }
      }
    }

    .image {
      width: 30%;

      img {
        max-width: 100%;
        border-radius: 10px;
      }
    }
  }

  .filt {
    h2 {
      text-align: center;
      padding: 5% 0;
    }

    .search {
      padding: 5% 0;
    }

    .range {
      padding: 5% 0;
    }

    .category {
      padding: 5% 0;
    }
  }

  .error {
    height: 85vh;
    font-family: Font-Regular;
    color: $secondaryText;
    display: flex;
    justify-content: center;
    padding: 1%;

    .elements {

      width: 60%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 250px;
        font-family: Font-Bold;
      }

      h3 {
        font-size: 50px;
      }

      p {
        padding-bottom: 2%;
      }

      a {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
          width: 25%;
          font-family: Font-Regular;
          font-size: 16px;
          background-color: #FEBD69;
          color: #051E2E;

          &:hover {
            cursor: pointer;
            color: $secondaryText;
            background-color: $primary;
            transition: 0.5s;
          }
        }
      }
    }
  }

  .contact {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    flex-direction: column;

    .message {
      background-color: white;
      margin-top: 2%;
      color: red;
      padding: 1%;
      border-radius: 7px;
      font-family: Font-Light;
    }

    button {
      width: 25%;
      font-family: Font-Regular;
      font-size: 16px;
      background-color: #FEBD69;
      color: #051E2E;

      &:hover {
        cursor: pointer;
        color: $secondaryText;
        background-color: $primary;
        transition: 0.5s;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }

    h1 {
      font-family: Font-Bold;
      color: $secondaryText;
      text-align: center;
      padding-bottom: 2%;
    }

    form {
      width: 30%;
      height: 60vh;
      background-color: white;
      border-radius: 7px;
      padding: 1.5%;
    }
  }

  .shop {
    background-color: $primary;

    .field {
      display: flex;

      .filters {
        height: 75vh;
        width: 30%;
        background-color: $secondary;
        border: 1px solid $secondaryText;

        .search {
          input {
            width: 65%;
          }
        }

        .gender {
          padding: 5% 0;
        }

        .saleFilter {
          padding: 5% 0;
        }
      }

      .products {
        width: 100%;
        height: 75vh;
        background-color: white;
        border: 1px solid $secondaryText;
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
        padding: 1% 5%;

        a {
          color: $primary;
        }

        .productCard {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid $secondary;
          border-radius: 10px;
          box-shadow: 4px 3px 10px $secondaryText;
          padding: 2%;
          font-size: 12px;

          &:hover {
            transition: 0.5s;
            transform: scale(1.05);
            cursor: pointer;
          }

          .img {
            img {
              border-radius: 10px;
              max-width: 100%;
            }
          }

          .button {
            font-family: Font-Regular;
            font-size: 16px;
            color: #051E2E;
            display: flex;
            justify-content: center;
            margin: 2% 0;

            &:hover {
              cursor: pointer;
              color: $secondaryText;
              transition: 0.5s;
            }
          }

          .title {
            padding: 2% 0;
          }

          .price {
            .oldPrice {
              text-decoration: line-through;
              color: red;
              display: block;
            }
          }
        }
      }
    }

    .error {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: $secondaryText;
    }

    .shopNav {
      padding: 1% 5%;

      .nav {
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        font-family: Font-Bold;

        a {
          color: $secondary;

          &:hover {
            color: $secondaryText;
            transition: 0.5s;
          }
        }
      }
    }
  }

  .aboutus {
    .header {
      height: 80vh;
      background-image: url(../src/images/fashionshop.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .body {
      padding: 5%;
      display: flex;
      justify-content: space-evenly;
      gap: 5%;

      .left {
        width: 30%;
        justify-content: center;
        font-size: 30px;
        color: $secondaryText;
        font-family: Font-Bold;
        display: flex;
        align-items: center;
      }

      .right {
        width: 60%;
        font-family: Font-Light;
        color: $secondaryText;
      }
    }
  }
}

footer {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-family: Font-Light;
  color: $secondaryText;

  .social {
    display: flex;
    display: flex;
    justify-content: space-between;
    width: 20%;

    a {
      color: $secondaryText;

      &:hover {
        color: $primary;
        transition: 0.5s;
      }
    }
  }
}

.dropDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 12%;
  background-color: white;
  left: 35%;
  top: 6.8%;
  font-family: Font-Bold;
  height: 25vh;

  li {
    padding-bottom: 25%;
  }

  a {
    color: $primary;

    &:hover {
      color: $secondaryText;
      border-bottom: 1px solid $secondaryText;
      transition: 0.5s;
    }
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;

  .info {
    position: absolute;
    background-color: $secondary;
    width: 25%;
    padding: 0.2%;
    border-radius: 5px;
    left: 55%;
    top: 48%;
  }

  .message {
    background-color: white;
    margin-top: 2%;
    color: red;
    padding: 0.5%;
    border-radius: 7px;
    font-family: Font-Light;
  }

  form {
    width: 30%;
    height: 60vh;
    background-color: white;
    border-radius: 7px;
    padding: 1.5%;

    .eye {
      &:hover {
        cursor: pointer;
        color: $secondaryText;
        transition: 0.5s;
      }
    }

    h1 {
      font-family: Font-Bold;
      color: $secondaryText;
      text-align: center;
      padding-bottom: 2%;
    }

    .policy {
      font-family: Font-Light;
      font-size: 10px;
      padding-bottom: 2%;
    }

    .sign {
      width: 25%;
      font-family: Font-Regular;
      font-size: 16px;
      background-color: #FEBD69;
      color: #051E2E;

      &:hover {
        cursor: pointer;
        color: $secondaryText;
        background-color: $primary;
        transition: 0.5s;
      }
    }

    .button {
      display: flex;
      justify-content: center;
    }

    input {
      margin-bottom: 2%;
      width: 60%;
      padding: 1%;
      font-family: Font-Regular;
      border-radius: 5px;
    }
  }
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;

  .message {
    background-color: white;
    margin-top: 2%;
    color: red;
    padding: 1%;
    border-radius: 7px;
    font-family: Font-Light;
  }

  h1 {
    padding-bottom: 1%;
  }

  form {
    width: 30%;
    height: 50vh;
    background-color: white;
    border-radius: 7px;
    padding: 1.5%;

    h1 {
      font-family: Font-Bold;
      color: $secondaryText;
      text-align: center;
      padding-bottom: 2%;
    }

    .policy {
      font-family: Font-Light;
      font-size: 10px;
      padding-bottom: 2%;
    }

    .sign {
      width: 25%;
      font-family: Font-Regular;
      font-size: 16px;
      background-color: #FEBD69;
      color: #051E2E;

      &:hover {
        cursor: pointer;
        color: $secondaryText;
        background-color: $primary;
        transition: 0.5s;
      }
    }

    .button {
      display: flex;
      justify-content: center;
    }

    input {
      margin-bottom: 2%;
      width: 60%;
      padding: 1%;
      font-family: Font-Regular;
      border-radius: 5px;
    }

    .eye {
      &:hover {
        cursor: pointer;
        color: $secondaryText;
        transition: 0.5s;
      }
    }
  }
}